@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@using Microsoft.AspNetCore.Identity

@inject SignInManager<AccountUser> SignInManager
@inject UserManager<AccountUser> UserManager


<nav class="card border-secondary sidebar">
    <h3 class="card-header border-secondary bg-light">Navigation</h3>

    @if (SignInManager.IsSignedIn(User))
    {
    <div class="list-group list-group-flush">

        @if (User.Identity.IsAuthenticated && User.IsInRole("staff"))
        {
            <a asp-controller="Staffs" asp-action="Index" asp-route-id="@UserManager.GetUserName(User)" class="btn btn-outline-primary list-group-item">Home</a>
            <a asp-controller="Staffs" asp-action="ListSchedules" asp-route-id="@UserManager.GetUserName(User)" class="btn btn-outline-primary list-group-item ">List Schedules</a>
            <a asp-controller="Staffs" asp-action="RoomAvailability" asp-route-id="@UserManager.GetUserName(User)" class="btn btn-outline-primary list-group-item ">Room Availability</a>
            <a asp-controller="Staffs" asp-action="SlotCreateView" asp-route-id="@UserManager.GetUserName(User)" class="btn btn-outline-primary list-group-item ">Create a Slot</a>
            <a asp-controller="Staffs" asp-action="ListSlots" asp-route-id="@UserManager.GetUserName(User)" class="btn btn-outline-primary list-group-item ">Remove a Slot</a>
        }
        @if (User.Identity.IsAuthenticated && User.IsInRole("student"))
        {
            <a asp-controller="Students" asp-action="Index" asp-route-id="@UserManager.GetUserName(User)" class="btn btn-outline-primary list-group-item">Home</a>
            <a asp-controller="Students" asp-action="StaffAvailability" asp-route-id="@UserManager.GetUserName(User)" class="btn btn-outline-primary list-group-item ">Staff Availability</a>
            <a asp-controller="Students" asp-action="ListSlots" asp-route-id="@UserManager.GetUserName(User)" class="btn btn-outline-primary list-group-item ">Make a Booking</a>
            <a asp-controller="Students" asp-action="ListBookedSlots" asp-route-id="@UserManager.GetUserName(User)" class="btn btn-outline-primary list-group-item ">Cancel a Booking</a>
        }

        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="form-style">
            <a href="#" class="btn btn-outline-primary list-group-item" onclick="document.getElementById('logoutForm').submit()">Logout</a>
        </form>
    </div>
    }
    else
    {
        <div class="list-group list-group-flush">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary list-group-item ">Home</a>
            <a asp-controller="Home" asp-action="FAQ" class="btn btn-outline-primary list-group-item ">F.A.Q.</a>
            <a asp-controller="Home" asp-action="Contact" class="btn btn-outline-primary list-group-item">Contact</a>
        </div>
    }
</nav>