@*@model IEnumerable<ASR.Models.Slot>*@
@model PaginatedList<ASR.Models.Slot>

@{
    ViewData["Title"] = "List Schedule";
    Layout = "_Layout";
}

@section navigation{
    <partial name="_SidebarNav" />
}


    <div class="body-content content-area">
        <h2>List Schedule</h2>

        <hr />

        @using (Html.BeginForm())
        {
            <p>
                Filter by date:
                <input class="SearchDate form-control-sm input-group-sm date" data-provide="datepicker" name="SearchDate" type="text" value="">
                <input class="btn btn-sm btn-success" type="submit" value="Search" />
            </p>
        }

        @if (ViewBag.Message != "")
        {
            <h2 class="text-danger">@ViewBag.Message</h2>
        }
        else
        {
            <div>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="table-secondary">
                            <th>
                                Room Name
                            </th>
                            <th>
                                StartTime
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Booking
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="table-light">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Room.RoomName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime.TimeOfDay)
                                </td>
                                <td>
                                    @if (item.StudentID != null)
                                    {
                                        <p>@Html.DisplayFor(modelItem => item.StudentID)</p>
                                        <p>@Html.DisplayFor(modelItem => item.Student.FirstName)</p>
                                    }
                                    else
                                    {
                                        <p>No booking</p>
                                        <p></p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="ListSchedules"
                   asp-route-page="@(Model.PageIndex - 1)"
                   class="btn btn-primary @prevDisabled">
                    Previous
                </a>
                <a asp-action="ListSchedules"
                   asp-route-page="@(Model.PageIndex + 1)"
                   class="btn btn-primary @nextDisabled">
                    Next
                </a>
            </div>
        }
    </div>
