@model IEnumerable<ASR.Models.RoomViewModel>

@{
    ViewData["Title"] = "Room Availability";
    Layout = "_Layout";
}
@section navigation
    {
    @await Html.PartialAsync("_StaffPartialView")
}

@if (ViewBag.Message != "")
{
    <h2>@ViewBag.Message</h2>

    <div>
        <a asp-action="ListSlots" asp-route-id="@ViewBag.id">Back to List</a>
    </div>
}
else
{
    <h1>Room Availability</h1>

    <form asp-controller="Staffs" asp-action="ShowRoomAvailability" asp-route-id="@ViewBag.id" method="post">
        <p>
            <label>Input search date: </label>
            <input type="date" name="SearchDate" />
            <input type="Submit" value="filter" />
        </p>
    </form>

    <h3>
        Availability rooms on @ViewBag.SearchDate
    </h3>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Availability)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Availability)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


