@model ASR.Models.Slot

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

@section navigation{
    <partial name="_SidebarNav" />
}

    <div class="body-content content-area">
        <h2>Create a Slot</h2>
        <hr />


        @if (ViewBag.ErrMessage != "")
        {
            <div class="alert alert-dismissible alert-danger">
                <p>@ViewBag.ErrMessage</p>
                <a class="btn btn-success" asp-action="SlotCreateView" asp-route-id="@ViewBag.id">Create New Slot</a>
            </div>
        }
        else if (ViewBag.Message != "")
        {
            <div class="alert alert-dismissible alert-warning">
                <p>@ViewBag.Message</p>
                <a class="btn btn-success" asp-action="SlotCreateView" asp-route-id="@ViewBag.id">Create New Slot</a>
                <a class="btn btn-success" asp-action="ListSchedules" asp-route-id="@ViewBag.id">Show slots</a>
            </div>
        }
        else
        {
            <form asp-action="SlotCreate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoomID" class="control-label"></label>
                    <select asp-for="RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input type="text" asp-for="StartTime" class="form-control" value="@ViewBag.BookingDate" readonly />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="StartHour" name="StartHour" class="control-label">Time</label>
                    <select for="StartHour" name="StartHour" class="form-control" asp-items="ViewBag.StartHour"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StaffID" class="control-label">Staff ID</label>
                    <input type="text" asp-for="StaffID" class="form-control" value="@ViewBag.StaffID" readonly />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        }
    </div>

