@*@model IEnumerable<ASR.Models.Slot>*@
@model PaginatedList<ASR.Models.Slot>


@{
    ViewData["Title"] = "List Booked Slot";
    Layout = "_Layout";
}

@section navigation{
    <partial name="_SidebarNav" />
}

    <div class="body-content content-area">
        <h2>List Booked Slot</h2>

        <hr />

        @using (Html.BeginForm())
        {
            <p>
                Filter by date:
                <input class="SearchDate form-control-sm input-group-sm date" data-provide="datepicker" name="SearchDate" type="text" value="">
                <input class="btn btn-sm btn-success" type="submit" value="Search" />
            </p>
        }

        @if (ViewBag.Message != "")
        {
            <h2 class="text-danger">@ViewBag.Message</h2>
        }
        else
        {
            <div>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="table-secondary">
                            <th>
                                Room Name
                            </th>
                            <th>
                                Date
                            </th>
                            <th>Time</th>
                            <th>
                                Staff
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="table-light">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Room.RoomName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime.TimeOfDay)
                                </td>
                                <td>
                                    <p>@Html.DisplayFor(modelItem => item.StaffID)</p>
                                    <p>@Html.DisplayFor(modelItem => item.Staff.FirstName) @Html.DisplayFor(modelItem => item.Staff.LastName)</p>
                                </td>
                                <td class="text-center">
                                    @Html.ActionLink("Cancel", "CancelBooking", new { id = @ViewBag.id, roomid = item.RoomID, startTime = item.StartTime.ToString("dd/MM/yyyy HH:mm") }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="ListBookedSlots"
                   asp-route-page="@(Model.PageIndex - 1)"
                   class="btn btn-primary @prevDisabled">
                    Previous
                </a>
                <a asp-action="ListBookedSlots"
                   asp-route-page="@(Model.PageIndex + 1)"
                   class="btn btn-primary @nextDisabled">
                    Next
                </a>
            </div>
        }
    </div>



