@model ASR.Models.Slot

@{
    ViewData["Title"] = "Slot Details";
    Layout = "_Layout";
}

@section navigation{
    <partial name="_SidebarNav" />
}

    <div class="body-content content-area">

        @if (ViewBag.Message != "")
        {
            <div class="alert alert-dismissible alert-warning">
                <p>@ViewBag.Message</p>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        }
        else
        {
            <h2>Slot Details</h2>
            <hr />

            <table class="table table-detail">
                <tr>
                    <th class="table-active">
                        @Html.DisplayNameFor(model => model.Room.RoomName)
                    </th>
                    <td class="table-light">
                        @Html.DisplayFor(model => model.Room.RoomName)
                    </td>
                </tr>

                <tr>
                    <th class="table-active">
                        @Html.DisplayNameFor(model => model.StartTime)
                    </th>
                    <td class="table-light">
                        @Html.DisplayFor(model => model.StartTime)
                    </td>
                </tr>

                <tr>
                    <th class="table-active">
                        Time
                    </th>
                    <td class="table-light">
                        @Html.DisplayFor(model => model.StartTime.TimeOfDay)
                    </td>
                </tr>

                <tr>
                    <th class="table-active">
                        @Html.DisplayNameFor(model => model.Staff.StaffID)
                    </th>
                    <td class="table-light">
                        @Html.DisplayFor(model => model.Staff.StaffID)
                    </td>
                </tr>

                <tr>
                    <th class="table-active">
                        Staff Name
                    </th>
                    <td class="table-light">
                        @Html.DisplayFor(model => model.Staff.FirstName) @Html.DisplayFor(model => model.Staff.LastName)
                    </td>
                </tr>

                <tr>
                    @if (Model.StudentID == null)
                    {
                        <th class="table-active">
                            @Html.DisplayNameFor(model => model.Student.StudentID)
                        </th>
                        <td class="table-light">
                            -
                        </td>
                    }
                    else
                    {
                        <th class="table-active">
                            @Html.DisplayNameFor(model => model.Student.StudentID)
                        </th>
                        <td class="table-light">
                            @Html.DisplayFor(model => model.Student.StudentID)
                        </td>
                        <th class="table-active">Student Name</th>
                        <td class="table-light">
                            @Html.DisplayFor(model => model.Student.FirstName) @Html.DisplayFor(model => model.Student.LastName)
                        </td>
                    }
            </table>
            <div>
                @Html.ActionLink("Book slot", "MakeBooking", new { id = ViewBag.id, roomid = Model.RoomID, startTime = Model.StartTime.ToString("dd/MM/yyyy HH:mm")}, new { @class = "btn btn-success" })
            </div>
        }
    </div>
