@model ASR.Models.SlotStaffViewModel

@{
    ViewData["Title"] = "StudentView";
    Layout = "_Layout";
}

@section navigation{
    <partial name="_SidebarNav" />
}


    <div class="body-content content-area">
        <h2>Staff Availability</h2>
        <hr />

        <form class="form-group" asp-controller="Students" asp-action="StaffAvailability" method="get">
            <p>
                <select class="form-group form-control-sm" asp-for="searchStaff" asp-items="Model.staffID">
                    <option value="">All</option>
                </select>
                <input class="btn btn-sm btn-success" type="submit" value="Filter" />
            </p>
        </form>

        @if (ViewBag.Message != "")
        {
            <h2 class="text-danger">@ViewBag.Message</h2>
        }
        else
        {

            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayNameFor(model => model.Slots[0].Staff)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Slots[0].StartTime)
                        </th>
                        <th>Time</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Slots)
                    {
                        <tr class="table-light">
                            <td>
                                @Html.DisplayFor(modelItem => item.StaffID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime.TimeOfDay)
                            </td>

                            @if (item.StudentID != null)
                            {
                                <td>Not Available</td>
                            }
                            else
                            {
                                <td>
                                    @Html.ActionLink("Details", "SlotDetails", new { id = ViewBag.id, roomid = item.RoomID, startTime = item.StartTime.ToString("dd/MM/yyyy HH:mm") })
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>        